body {
font-family: 'Open Sans', sans-serif;
font-size: 16px;
}

input {
    margin-top: 15px;
}
.card-footer {
    display: flex;
    justify-content: right;
}

.btn-add-custom {
    margin-left: 20px;
}

.swim-lanes {
min-height: 60vh;
}

.task-card {
margin: 0 auto;
width: 100%;
}

.task-card:hover {
cursor: grab;
}
